[core]
; If you want to make a PR report here, please first send an email to: 158154427@qq.com

[pnpm]
networkConcurrency = 10

[npmRegistryServer]
registry=https://registry.npmmirror.com

[strictPeerDependencies]
# strict-peer-dependencies=true
